.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 1.8rem;
    border-radius: 15px;
    background-color: #ccc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    padding: .4rem;
  }

.switch-button {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

.switch-button.active {
    background-color: #2185d0;
    color: #fff;
  }