
.flex-column {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
}

.title-row {
    display: flex;
    height: 50%;
    color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: .5rem;
}


.action-row {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    justify-content: space-between;
}

.habit-img {
    display: flex;
    justify-self: flex-start;
    align-self: baseline;

}

.circ-box {
    align-self: center;
    justify-self: center;
}

.middle {
    justify-self: center;
    align-self: center;
    display: flex;
}

@media only screen and (max-width: 780px) {



.middle{
    width: auto;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.circ-box {
    margin-right: .25rem;
}

.flex-column {
    padding: .5rem;
}





}