.flex-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        margin-bottom: .5rem;
        border-bottom: solid white 5px;
        padding: 1rem;

}

.left-styles {
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        justify-content: center;

}


.right-styles {
        display: flex;
        width: auto;
        align-Items: center;
        justify-content: center;
};


.middle-styles {
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black 5px;
};


.middle-styles div {
        display: flex;
}


@media only screen and (max-width: 480px) {

.right-styles {
    flex-direction: column;

}

.left-styles {
    flex-direction: column;
}

.middle-styles {
    width: 5rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.middle-styles div {
    display: flex;
    align-content: center;
    justify-items: center;

}

}